@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ProgramBuilder.DA.Program>

@{
    ViewBag.Title = "Danh sách chương trình đào tạo";
    ViewBag.Header = "Danh sách chương trình đào tạo";
}

<style>
    .table-condensed{
        font-size:15px;
    }
</style>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-10">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th><span><strong> Tên CTĐT</strong></span></th>
                                    <th><span><strong>Thuộc khoa</strong></span></th>
                                    <th class="text-center"><span><strong>Số lượng Syllabus</strong></span></th>
                                    <th class="text-center"><span><strong>Thời gian cập nhật</strong></span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td><a target="_blank" href="/Program/ReviewProgram/@Model[i].ID">@Model[i].Name</a></td>

                                            @if ((User as ProgramBuilder.WEB.Principal.AuthorizePrincipal).IsInRole("Deanery"))
                                            {
                                                <td><a href="/Faculty/FacultyDetail/@Model[i].Faculty.ID"> @Model[i].Faculty.VietNameseName</a></td>
                                            }
                                            else
                                            {
                                                
                                                 <td> @Model[i].Faculty.VietNameseName</td>
                                            }
                                                                                 

                                            <td class="text-center">@Model[i].Faculty.Subjects.SelectMany(x => x.Syllabuses).ToList().Count</td>
                                            <td class="text-center">@Model[i].CreationTime</td>
                                            <td style="width: 230px;">
                                                <a target="_blank" href="/Program/ReviewProgram/@Model[i].ID" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Review</a>
                                                <a href="/Program/ExportToWord/@Model[i].ID" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
                                                @if ((User as ProgramBuilder.WEB.Principal.AuthorizePrincipal).IsInRole("Editor"))
                                                {
                                                     <a target="_blank" href="/Program/EditProgram/@Model[i].ID" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span> Sửa</a>
                                                }
                                               
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("ProgramsList", new { page }))
</div>
