@model ProgramBuilder.DA.Account

@{
    ViewBag.Title = "Chỉnh sửa thông tin Account"; 
    ViewBag.Header = "Chỉnh sửa thông tin Account (Giảng viên)";
    
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



        @Html.HiddenFor(model => model.ID)


        <div class="editor-field">
            @Html.HiddenFor(model => model.UserName)

        </div>

        <div class="editor-label">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control input-md" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FullName, new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control input-md" })
        @Html.ValidationMessageFor(model => model.FullName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Degree, new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Degree, new { @class = "form-control input-md" })
        @Html.ValidationMessageFor(model => model.Degree)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label " })
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-md" })
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-md" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <br />
        <div class="control-group">
            <b><label class="control-label">Vai trò: </label> </b>
            @Html.ListBox("RoleIDs", (SelectList)ViewBag.Roles, new { @class = "modify form-control roles-multiple-select" })
        </div>
    <br />
        <div class="control-group">
            <b><label class="control-label">Thuộc khoa: </label> </b>
            @Html.DropDownListFor(x => x.FacultyID, (SelectList)ViewBag.Faculties, new { @class = "modify form-control" })
        </div>

    <br />
         <p>
        <input class="btn btn-primary" type="submit" value="Chỉnh sửa" />
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('.roles-multiple-select').select2({
        placeholder: "Chọn vai trò cho hệ thống",
        maximumSelectionSize: 10,
        width: 300
    });
</script>